{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<h1>Nos produits phares</h1>
	<div class="row">
		{% for product in products %}
			<div class="col">
				{% include "product/_product_card.html.twig" with {'p': product} %}
			</div>
		{% endfor %}
	</div>


{% endblock %}
